/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.box{

  border: 1px solid #ddd;
  margin:0.5rem;
  padding:0.5rem;
  margin:1rem;
}

.box.one{
  width:450px;
  height:450px;
}

.box.two{
  width:350px;
  height:250px;
}

.box.three{
  width:250px;
  height:150px;
}

