/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.box{

  border: 1px solid #ddd;
  margin:0.5rem;
  padding:0.5rem;
  margin:1rem;

}

.box.one{
  width:450px;
  min-height:450px;
  height:auto;
  padding-bottom:4rem;
  border:1px solid blue;
}

.box.two{
  width:400px;
  min-height:150px;
  padding-bottom:2rem;
  border:3px dotted red;
}

.box.three{
  width:350px;
  min-height:100px;
  padding-bottom:3rem;
  border:2px solid yellow;
}

.font-bold{
  font-weight: bold;
  padding:0.25rem 0.5rem;

  font-size:1rem;
}


.move-fromTop-bottom{
  position: absolute;
  right:10px;
  top:10px;
  font-size:20px;
}

.move-fromTop-bottom.animate{
  animation: topToBottom 2s linear;
}

@keyframes topToBottom{
  from {top:0px}
  to {top:200px}
}


